.dvlaImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

form {
    min-width: 100%;
}

mat-form-field {
    min-width: 96%;
    padding: 1% 2%;
}

button {
    min-width: 5%;
    max-width: 5%;
    min-height: 50px;
    margin-left: 2%;

    mat-icon {
        height: 100%;
        width: 100%;
    }
}

mat-card {
    min-width: 80%;
    max-width: 80%;
    margin: auto;
    margin-top: 64px;
}